fastapi
uvicorn
pydantic
pandas
scikit-learn==1.7.2
xgboost
mlflow==2.15.0
joblib
boto3
numpy
scipy
lifelines
scikit-survival
xgbse
matplotlib
plotly
tqdm
python-dotenv
pyyaml
psycopg2-binary
evidently==0.7.17
geopy
