pandas
scikit-learn==1.7.2
xgboost
lifelines
plotly
mlflow==2.15.0
geopy
boto3
ccxt==1.85.*
apache-airflow-providers-postgres
apache-airflow-providers-amazon
psycopg[binary]
tqdm
requests
sqlalchemy
s3fs
numpy
seaborn
matplotlib
scipy
joblib
lifelines
xgbse
scikit-survival
geopy
timedelta
pydantic<2
evidently==0.7.17
